// Styles title
#titleCon {
    background-color: white;
    height:150px;
    padding-top:23px;
    padding-bottom:10px;
    margin-bottom:100px;
    position: sticky;
    top:0;
    z-index: 1;
}

.title{
    height:150px;
}

#controllerCon{
    justify-content: center;
    margin:0 auto;
    width:400px;
    margin-top: 100px;
    margin-bottom:15px;
}

.section{
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

// Positions things
.faveThings {
    margin: 0 auto;
    margin-bottom: 10px;
    border: 10px white;
    height:650px;

}

// Styles things
.thing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    padding: 50px;
    background-color: $bgColour;
    border: 3px solid $btnBorderColour;
    margin: 10px;
}

// Sizes and positions images
.thing img {
    margin: 0 auto;
    margin-bottom: 20px;
    opacity:0.8;
}

.thing img:hover{
    opacity:1.0;
}

// Styles See more
.seeMore {
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: $buttonTextColour;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.25s;
}

// Styles see more hover
.seeMore:hover {
    background-color: $buttonHover;
}

// Styles description
.info {
    text-align: left;
    line-height: 22px;
    margin-top: 20px;
}
